// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.blog-header {
  margin-left: 800px;
}

.small-image {
  height: 100px;
  width: 100px;
}